---
const { title, prod, slug, year, tags = [], url, description } = Astro.props;

const isExternal = slug ? false : true;
const isDev = prod ? false : true;
const finalUrl = isExternal ? url : year + "/" + slug;
const linkMode = isExternal ? "_blank" : "_self";
const relMode = isExternal ? "nofollow" : "";
const ribbonMode = isExternal ? "visible" : "hidden";
const devRibbonMode = isDev ? "visible" : "hidden";
const cropFirstLine = isExternal ? "mr-2" : "";
---

<a href={finalUrl} target={linkMode} rel={relMode}>
  <div
    class="group relative flex h-full flex-col justify-between gap-4 overflow-hidden border-2 border-black p-2 shadow-[-0.5rem_-0.5rem] shadow-foxdriven-accent"
  >
    <div class="basis-1/3">
      <div class="mb-2 w-fit">
        <div
          class=`text-left text-xl group-hover:underline mb-2 line-clamp-4 ${cropFirstLine}`
        >
          {title}
        </div>
        <div class="flex flex-row gap-2 truncate text-xs">
          <div>{year}</div>
          {tags.map((tag: String) => <div>{tag}</div>)}
        </div>
      </div>
    </div>
    <div class="h-fit">
      <hr class="mb-2 rounded-full border-t-2 border-foxdriven-accent" />
      <div class="text-left text-xs md:text-sm">
        <div class="line-clamp-5">{description}</div>
      </div>
    </div>
    <div class=`absolute top-0 right-0 ${ribbonMode}`>
      <div
        class="flex h-fit w-32 translate-x-[40%] translate-y-[10%] rotate-45 flex-col justify-center rounded-md bg-foxdriven-accent/50 p-1 text-center text-2xs"
      >
        ext
      </div>
    </div>
    <div class=`absolute top-0 right-0 ${devRibbonMode}`>
      <div
        class="flex h-fit w-32 translate-x-[20%] translate-y-[140%] rotate-45 flex-col justify-center rounded-md bg-red-500 p-1 text-center text-2xs"
      >
        DEV
      </div>
    </div>
  </div>
</a>
