---
import { readItems, refresh } from "@directus/sdk";
import { directusClient, $refreshToken } from "@foxdriven/scripts/directus";
import isProd from "@common/scripts/tools";

import MainLayout from "@foxdriven/layouts/MainLayout.astro";
import ArticleCard from "@foxdriven/components/ArticleCard.astro";

let articles: Record<string, any>[] = [];
let query = {};

if (isProd(Astro.url.toString())) {
  query = {
    filter: {
      prod: {
        _eq: true,
      },
    },
  };
}

let failed = false;
try {
  console.log("using token: ", $refreshToken.get());
  articles = await directusClient.request(readItems("articles", query));
  console.log("success");
} catch (e) {
  console.log("refreshing token");
  const result = await directusClient.request(
    refresh("json", $refreshToken.get()),
  );
  $refreshToken.set(result["refresh_token"]?.toString());
  console.log("success");
  failed = true;
} finally {
  if (failed) {
    console.log("using new token: ", $refreshToken.get());
    articles = await directusClient.request(readItems("articles", query));
    console.log("success");
  }
}
---

<MainLayout page_title="Блог" page_description="Все публикации">
  <div class="mx-auto w-[80%] p-8 md:w-full">
    <div
      class="mx-auto grid max-w-5xl grid-cols-1 justify-between gap-8 md:grid-cols-2"
    >
      {
        articles.map((article) => {
          return (
            <ArticleCard
              title={article.title}
              prod={article.prod}
              slug={article.slug}
              year={article.year}
              url={article.url}
              tags={article.tags}
              description={article.description}
            />
          );
        })
      }
    </div>
  </div>
</MainLayout>
