---
import { readItems } from "@directus/sdk";
import { directusClient } from "@foxdriven/scripts/directus";
import isProd from "@common/scripts/tools";

import MainLayout from "@foxdriven/layouts/MainLayout.astro";
import ArticleCard from "@foxdriven/components/ArticleCard.astro";

let articles: Record<string, any>[] = [];
if (isProd(Astro.url.toString())) {
  articles = await directusClient.request(
    readItems("articles", {
      filter: {
        prod: {
          _eq: true,
        },
      },
    }),
  );
} else {
  articles = await directusClient.request(readItems("articles"));
}
console.log(isProd(Astro.url.toString()));
---

<MainLayout page_title="Блог" page_description="Все публикации">
  <div class="mx-auto w-[80%] p-8 md:w-full">
    <div
      class="mx-auto grid max-w-5xl grid-cols-1 justify-between gap-8 md:grid-cols-2"
    >
      {
        articles.map((article) => {
          return (
            <ArticleCard
              title={article.title}
              prod={article.prod}
              slug={article.slug}
              year={article.year}
              url={article.url}
              tags={article.tags}
              description={article.description}
            />
          );
        })
      }
    </div>
  </div>
</MainLayout>
